:root {
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #7651f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0.74rem solid #9174f9;
  border-radius: 3.5rem;
  height: 640px;
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.display {
  height: 35.5%;
  padding: 5rem 2rem;
  font-size: 2.5rem;
  color: black;
  opacity: 0.75;
  background-color: #f5f7fb;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.purple-button {
  color: #7651f5;
  opacity: 0.75;
}

.shaded-button {
  color: white;
  background-color: #7651f5;
  border-radius: 50%;
}

button {
  appearance: none;
  outline: none;
  width: 60px;
  height: 60px;
  background-color: white;
  border: none;
  border-radius: 50%;
  color: black;
  opacity: 0.75;
  font-size: 1.3rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.5ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  box-shadow: 0px 0px 7px rgba(118, 81, 245, 0.2);
}
