:root {
  font-size: 1.2rem;
}

.greeting {
  border: 1px solid green;
  margin: 0 auto;
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  outline: 1px solid purple;
  border-radius: 0.5rem;
  height: 500px;
  width: 300px;
  margin: 0 auto;
}

.display {
  outline: 1px solid red;
  margin: 0 auto;
}
